<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <meta name="description" content="POS - Bootstrap Admin Template">
    <meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern,  html5, responsive">
    <meta name="author" content="Dreamguys - Bootstrap Admin Template">
    <meta name="robots" content="noindex, nofollow">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.jpg">
    @await RenderSectionAsync("CSS", required: false)
    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
            font-size: 14px;
        }

        #calendar {
            max-width: 1200px;
            margin: 0 auto;
        }

    </style>

    <link rel="stylesheet" href="~/assets/css/croppie.css" />

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/animate.css">
    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/plugins/icons/ionic/ionicons.css">
    <link rel="stylesheet" href="~/assets/plugins/icons/feather/feather.css">
    
    <link rel="stylesheet" href="~/assets/plugins/icons/typicons/typicons.css">
    <link rel="stylesheet" href="~/assets/css/style.css">

    <link rel="stylesheet" href="~/assets/plugins/twitter-bootstrap-wizard/form-wizard.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">
</head>
<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left active">
                <a asp-controller="Panel" asp-action="Index" class="logo">
                    <img src="~/assets/img/logo.png" alt="">
                </a>
                <a asp-controller="Panel" asp-action="Index" class="logo-small">
                    <img src="~/assets/img/logo-small.png" alt="">
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                </a>
            </div>
            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>
            <ul class="nav user-menu">
                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="" id="navImgEmployee" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img src="" id="dropDownImgEmployee" nav alt="">
                                    <span class="status online"></span>
                                </span>
                                <div class="profilesets">
                                    <h6 id="NameEmployee">{nama}</h6>
                                    <h5>Employee</h5>
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" asp-controller="Profil" asp-action="Profil"> <i class="me-2" data-feather="user"></i> My Profile</a>
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" asp-controller="Authentication" asp-action="Logout"><img src="~/assets/img/icons/log-out.svg" class="me-2" alt="img">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" asp-controller="Admin" asp-action="Profil">My Profile</a>
                    <a class="dropdown-item" asp-controller="Authentication" asp-action="Logout">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="@ViewData["Dashboard"]">
                            <a asp-controller="Panel" asp-action="Index"><img src="~/assets/img/icons/dashboard.svg" alt="img"><span> Dashboard</span> </a>
                        </li>
                        <li class="@ViewData["Peminjaman"]">
                            <a asp-controller="Panel" asp-action="PeminjamanFasilitas"><img src="~/assets/img/icons/quotation1.svg" alt="img"><span>Pengajuan Peminjaman</span> </a>
                        </li>
                        <li class="@ViewData["ListPeminjaman"]">
                            <a asp-controller="Panel" asp-action="ListPeminjaman"><i data-feather="layers"></i><span>List Peminjaman</span> </a>
                        </li>
                        <li class="@ViewData["Kalender"]">
                            <a asp-controller="Panel" asp-action="KalenderPeminjaman"><i data-feather="calendar"></i><span>Kalender Peminjaman</span> </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);"><img src="~/assets/img/icons/product.svg" alt="img"><span> Product</span> <span class="menu-arrow"></span></a>
                            <ul>
                                <li><a asp-controller="Panel" asp-action="ListFasilitas" class="@ViewData["ListFasilitas"]">List Fasilitas</a></li>
                                <li><a asp-controller="Panel" asp-action="ListRuangan" class="@ViewData["ListRuangan"]">List Ruangan</a></li>
                            </ul>
                        </li>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">

                @RenderBody()

            </div>
        </div>
    </div>
    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/js/jquery.slimscroll.min.js"></script>
    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/plugins/apexchart/apexcharts.min.js"></script>
    <script src="~/assets/plugins/apexchart/chart-data.js"></script>
    <script src="~/assets/js/script.js"></script>

    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalerts.min.js"></script>
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/js/employee/employeeProfilImg.js"></script>

    <script src="https://kit.fontawesome.com/33a42c8835.js" crossorigin="anonymous"></script>

    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>




    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>