<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>@ViewData["Title"] - Client</title>

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <link rel="stylesheet" href="~/assets/css/animate.css">

    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <link rel="stylesheet" href="~/assets/css/dataTables.bootstrap4.min.css">

    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/assets/plugins/icons/ionic/ionicons.css">
    <link rel="stylesheet" href="~/assets/plugins/icons/feather/feather.css">

    <link rel="stylesheet" href="~/assets/css/croppie.css" />

    <link rel="stylesheet" href="~/assets/plugins/twitter-bootstrap-wizard/form-wizard.css">

    <link rel="stylesheet" href="~/assets/css/style.css">
    <link rel="stylesheet" href="~/css/admin.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.2/css/buttons.dataTables.min.css" />

</head>

<body>
    <div id="global-loader">
        <div class="whirly-loader"> </div>
    </div>

    <div class="main-wrapper">

        <div class="header">

            <div class="header-left active">
                <a href="index.html" class="logo">
                    @*  <img src="~/assets/img/logo.png" alt=""> *@
                    <h2>Admin</h2>
                </a>
                <a href="index.html" class="logo-small">
                    @*  <img src="~/assets/img/logo-small.png" alt=""> *@
                    <h2>A</h2>
                </a>
                <a id="toggle_btn" href="javascript:void(0);">
                </a>
            </div>

            <a id="mobile_btn" class="mobile_btn" href="#sidebar">
                <span class="bar-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </a>

            <ul class="nav user-menu">


                <li class="nav-item dropdown notification">

                </li>

                <li class="nav-item dropdown has-arrow main-drop">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
                        <span class="user-img">
                            <img src="" id="navImgageProfile" alt="">
                            <span class="status online"></span>
                        </span>
                    </a>
                    <div class="dropdown-menu menu-drop-user">
                        <div class="profilename">
                            <div class="profileset">
                                <span class="user-img">
                                    <img id="navUserImage" src="" alt="">
                                    @* <span class="status online"></span> *@
                                </span>
                                <div class="profilesets">
                                    <@* h6>John Doe</h6>
                                    <h5>Admin</h5> *@
                                </div>
                            </div>
                            <hr class="m-0">
                            <a class="dropdown-item" href="/admin/profile">
                                <i class="me-2" data-feather="user"></i> My
                                Profile
                            </a>
                          @*   <a class="dropdown-item" href="generalsettings.html">
                                <i class="me-2"
                                   data-feather="settings"></i>Settings
                            </a> *@
                            <hr class="m-0">
                            <a class="dropdown-item logout pb-0" asp-controller="Home" asp-action="Index">
                                <img src="~/assets/img/icons/log-out.svg" class="me-2" alt="img">Logout
                            </a>
                        </div>
                    </div>
                </li>
            </ul>


         @*    <div class="dropdown mobile-user-menu">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                   aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="generalsettings.html">Settings</a>
                    <a class="dropdown-item" asp-controller="Authentication" asp-action="Logout">Logout</a>
                </div>
            </div> *@

        </div>


        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="@ViewData["AdminDashboard"]">
                            <a href="/admin/dashboard">
                                <img src="~/assets/img/icons/dashboard.svg" alt="img"><span>
                                    Dashboard
                                </span>
                            </a>
                        </li>
                        @* <li class=@className>
                            <a href="/admin/notifications">
                                <img src="/assets/img/icons/notification-bing.svg" alt="img"><span>
                                    Notifications
                                </span>
                            </a>
                        </li> *@
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/assets/img/icons/users1.svg" alt="img"><span>
                                    Manage Employee
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="/admin/listEmployee" class="@ViewData["AdminListEmployee"]">List Employee</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <img src="~/assets/img/icons/product.svg" alt="img"><span>
                                    Manage Peminjaman
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="/admin/listPeminjaman" class="@ViewData["AdminListPeminjaman"]">List Peminjaman</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript:void(0);">
                                <i class="fa-solid fa-gears"></i><span>
                                    Manage Ruangan & Fasilitas
                                </span> <span class="menu-arrow"></span>
                            </a>
                            <ul>
                                <li><a href="/admin/list-fasilitas" class="@ViewData["AdminListFasility"]">List Fasilitas</a></li>
                                <li><a href="/admin/list-ruangan" class="@ViewData["AdminListRoom"]">List Ruangan</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                </div>

                <div class="row">
                </div>
                <div class="card mb-0">
                    <div class="card-body">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <script src="~/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/assets/js/feather.min.js"></script>

    <script src="~/assets/js/jquery.slimscroll.min.js"></script>

    <script src="~/assets/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/dataTables.bootstrap4.min.js"></script>

    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/assets/plugins/select2/js/select2.min.js"></script>

    <script src="~/assets/js/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

    <script src="~/assets/plugins/sweetalert/sweetalert2.all.min.js"></script>
    <script src="~/assets/plugins/sweetalert/sweetalerts.min.js"></script>

    <script src="~/assets/plugins/countup/jquery.counterup.min.js"></script>
    <script src="~/assets/plugins/countup/jquery.waypoints.min.js"></script>
    <script src="~/assets/plugins/countup/jquery.missofis-countdown.js"></script>

    <script src="~/assets/js/script.js"></script>






    <script src="https://kit.fontawesome.com/33a42c8835.js" crossorigin="anonymous"></script>

    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/buttons.colVis.min.js"></script>




    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>