@model IEnumerable<API.DTOs.Requests.ListRequestDto>

@{
    ViewData["Title"] = "Home Page";
    ViewData["Dashboard"] = "active";

    Layout = "_LayoutEmployeePanel";
}

<div class="row">
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count">
            <div class="dash-counts">
                <h4>100</h4>
                <h5>Pengajuan Peminjaman</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="user"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das1">
            <div class="dash-counts">
                <h4>100</h4>
                <h5>Peminjaman Aktif</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="user-check"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das2">
            <div class="dash-counts">
                <h4>100</h4>
                <h5>Peminjaman Selesai</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="file-text"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-12 d-flex">
        <div class="dash-count das3">
            <div class="dash-counts">
                <h4>105</h4>
                <h5>Total Peminjaman</h5>
            </div>
            <div class="dash-imgs">
                <i data-feather="file"></i>
            </div>
        </div>
    </div>
</div>

<div class="card mb-0">
    <div class="card-body">
        <h4 class="card-title">Daftar Terbaru Peminjaman</h4>
        <div class="table-responsive dataview">
            <table class="table datatable ">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Status Peminjaman</th>
                        <th>Tanggal Awal Pinjam</th>
                        <th>Tanggal Berakhir Pinjam</th>
                        <th>Nama Ruangan</th>
                        <th>Detail Fasilitas</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in Model) {
                        <tr>
                            @{i++;}
                            <td> @i                        
                            </td>
                            <td>@Html.DisplayFor(model => item.Status)</td>
                            <td>@Html.DisplayFor(model => item.StartDate)</td>
                            <td>@Html.DisplayFor(model => item.EndDate)</td>
                            @{
                                string a = (item.rooms == null) ? "Tidak Meminjam Ruangan" : item.rooms.Name;
                            }
                            <td>@a</td>
                            <td>
                                <button type="button" onclick="DetailPeminjaman('@item.Guid')" style="text-align:start;" class="btn btn-primary col-lg-12" data-bs-toggle="modal" data-bs-target="#ModalFasilitas">
                                    <i data-feather="box" style="margin-right:10px;"> </i>Fasilitas
                                </button>
                            </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Modal Fasilitas -->
<div class="modal fade" id="ModalFasilitas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalFasilitasLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">List Fasilitas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div id="basic-pills-wizard" class="twitter-bs-wizard">
                            <ul class="twitter-bs-wizard-nav">
                                <li class="nav-item ">
                                    <a id="statusRequested" class="nav-link active">
                                        <div class="step-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </a>
                                    <span id="requested" class="badge bg-primary fs-6">Requested</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusProgress" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-clock"></i>
                                        </div>
                                    </a>
                                    <span id="OnProssesed">OnProssesed</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusOnGoing" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-clock"></i>
                                        </div>
                                    </a>
                                    <span id="onGoing">OnGoing</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusCompleted" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-check-circle"></i>
                                        </div>
                                    </a>
                                    <span id="completed">Completed</span>
                                </li>
                            </ul>
                            <div class="my-3">
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Nama employee</h4>
                                            <h6 id="nameEmployee">Yolendes Dandi</h6>
                                        </li>
                                        <li>
                                            <h4>Tanggal peminjaman</h4>
                                            <h6 id="startDateRequest">20/10/2023</h6>
                                        </li>
                                        <li>
                                            <h4>Tanggal berakhir peminjaman</h4>
                                            <h6 id="endDateRequest">20/11/2023</h6>
                                        </li>
                                        <li>
                                            <h4>Status Peminjaman</h4>
                                            <h6 id="statusRequest">Requested</h6>
                                        </li>
                                        <li>
                                            <h4>Nama Ruangan</h4>
                                            <h6 id="nameRoomRequest">N/D</h6>
                                        </li>
                                        <li id="listFasilityDetail">
                                            <h4>Nama Fasilitas</h4>

                                           @* 
                                            <p class="list-group-item list-group-item-info m-1 text-center">
                                                Meja
                                                <span class="badge d-block bg-primary">Qty : 28</span>
                                            </p>
                                            <p class="list-group-item list-group-item-info m-1 text-center">
                                                Pensil
                                                <span class="badge d-block bg-primary">Qty : 28</span>
                                            </p>
 *@

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer sticky">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>

                <div class="action-button">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/employee/employeeListPinjam.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/prettify.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/form-wizard.js"></script>
    }