@model IEnumerable<API.DTOs.Requests.ListRequestDto>

@{
    ViewData["Title"] = "List Peminjaman";
    ViewData["ListPeminjaman"] = "active";

    Layout = "_LayoutEmployeePanel";
}



<div class="page-header">
    <div class="page-title">
        <h4>List Peminjaman Fasilitas atau Ruangan</h4>
        <h6>Halaman untuk melihat history peminjaman</h6>
    </div>
    <div class="page-btn">
        <a asp-controller="Panel" asp-action="PeminjamanFasilitas" class="btn btn-added"><img src="~/assets/img/icons/plus.svg" alt="img" class="me-1">Ajukan Peminjaman Fasilitas</a>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-top">
            <div class="search-set">
                <div class="search-input">
                    <a class="btn btn-searchset"><img src="~/assets/img/icons/search-white.svg" alt="img"></a>
                </div>
            </div>
            <div class="wordset">
                <ul>
                    <li>
                        <a id="export-pdf" data-bs-toggle="tooltip" data-bs-placement="top" title="pdf"><img src="~/assets/img/icons/pdf.svg" alt="img"></a>
                    </li>
                    <li>
                        <a id="export-excel" data-bs-toggle="tooltip" data-bs-placement="top" title="excel"><img src="~/assets/img/icons/excel.svg" alt="img"></a>
                    </li>
                    <li>
                        <a id="export-print"  data-bs-toggle="tooltip" data-bs-placement="top" title="print"><img src="~/assets/img/icons/printer.svg" alt="img"></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card mb-0" id="filter_inputs">
            <div class="card-body pb-0">
                <div class="row">
                    <div class="col-lg-12 col-sm-12">
                        <div class="row">
                            <div class="col-lg col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="select">
                                        <option>Choose Product</option>
                                        <option>Macbook pro</option>
                                        <option>Orange</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="select">
                                        <option>Choose Category</option>
                                        <option>Computers</option>
                                        <option>Fruits</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="select">
                                        <option>Choose Sub Category</option>
                                        <option>Computer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg col-sm-6 col-12">
                                <div class="form-group">
                                    <select class="select">
                                        <option>Brand</option>
                                        <option>N/D</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg col-sm-6 col-12 ">
                                <div class="form-group">
                                    <select class="select">
                                        <option>Price</option>
                                        <option>150.00</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1 col-sm-6 col-12">
                                <div class="form-group">
                                    <a class="btn btn-filters ms-auto"><img src="~/assets/img/icons/search-whites.svg" alt="img"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table  tabelListPeminjaman" id="tabelListPeminjaman">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Status Peminjaman</th>
                        <th>Tanggal Awal Pinjam</th>
                        <th>Tanggal Berakhir Pinjam</th>
                        <th>Nama Ruangan</th>
                        <th>Detail Fasilitas</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var item in Model){
                        <tr>
                           @{i++;}
                                <td>
                                    @i
                                </td>
                                <td id="statusPeminjaman" data="@Html.DisplayFor(model => item.Status)">@Html.DisplayFor(model => item.Status)</td>
                                <td id="startDatePinjam">@Html.DisplayFor(model => item.StartDate)</td>
                                <td id="endDatePinjam">@Html.DisplayFor(model => item.EndDate)</td>
                                @{
                                    string a = (item.rooms == null) ? "Tidak Meminjam Ruangan" : item.rooms.Name;
                                }
                                <td>@a</td>
                                <td>
                                    <button type="button" onclick="DetailPeminjaman('@item.Guid')" style="text-align:start;" class="btn btn-primary col-lg-12" data-bs-toggle="modal" data-bs-target="#ModalRequestDetail">
                                        <i data-feather="box" style="margin-right:10px;"> </i>Detail Peminjaman
                                    </button>
                                </td>
                            </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<!-- Modal Fasilitas -->
<div class="modal fade" id="ModalRequestDetail" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalRequestDetailLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">List Fasilitas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <div id="basic-pills-wizard" class="twitter-bs-wizard">
                            <ul class="twitter-bs-wizard-nav">
                                <li class="nav-item ">
                                    <a id="statusRequested" class="nav-link active">
                                        <div class="step-icon">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </a>
                                    <span id="requested" class="badge bg-primary fs-6">Requested</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusProgress" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-clock"></i>
                                        </div>
                                    </a>
                                    <span id="OnProssesed">OnProssesed</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusOnGoing" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-clock"></i>
                                        </div>
                                    </a>
                                    <span id="onGoing">OnGoing</span>
                                </li>
                                <li class="nav-item">
                                    <a id="statusCompleted" class="nav-link disabled">
                                        <div class="step-icon">
                                            <i class="fe fe-check-circle"></i>
                                        </div>
                                    </a>
                                    <span id="completed">Completed</span>
                                </li>
                            </ul>
                            <div class="my-3">
                                <div class="productdetails">
                                    <ul class="product-bar">
                                        <li>
                                            <h4>Nama employee</h4>
                                            <h6 id="nameEmployee">Yolendes Dandi</h6>
                                        </li>
                                        <li>
                                            <h4>Tanggal peminjaman</h4>
                                            <h6 id="startDateRequest">20/10/2023</h6>
                                        </li>
                                        <li>
                                            <h4>Tanggal berakhir peminjaman</h4>
                                            <h6 id="endDateRequest">20/11/2023</h6>
                                        </li>
                                        <li>
                                            <h4>Status Peminjaman</h4>
                                            <h6 id="statusRequest">Requested</h6>
                                        </li>
                                        <li>
                                            <h4>Nama Ruangan</h4>
                                            <h6 id="nameRoomRequest">N/D</h6>
                                        </li>
                                        <li id="listFasilityDetail">
                                            <h4>Nama Fasilitas</h4>

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="modal-footer sticky">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-bs-dismiss="modal">Close</button>

                <div class="action-button">
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Update Peminjaman -->
<div class="modal fade" id="modalUpdateRequest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalUpdateRequestLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Request</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Tanggal Mulai Peminjaman </label>
                            <div class="input-groupicon">
                                <input type="text" placeholder="DD-MM-YYYY" class="datetimepicker" id="startDateTime">
                                <div class="addonset">
                                    <img src="~/assets/img/icons/calendars.svg" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Tanggal Akhir Peminjaman </label>
                            <div class="input-groupicon">
                                <input type="text" placeholder="DD-MM-YYYY" class="datetimepicker" id="endDateTime">
                                <div class="addonset">
                                    <img src="~/assets/img/icons/calendars.svg" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pilih Fasilitas</label>
                            <button type="button" style="text-align:start;" class="btn btn-primary col-lg-12" data-bs-toggle="modal" id="btnModalFasilitas" data-bs-target="#ModalFasilitas">
                                <i data-feather="box" style="margin-right:10px;"> </i>Fasilitas
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12">
                        <div class="form-group">
                            <label>Pilih Ruangan</label>
                            <button type="button" style="text-align:start;" class="btn btn-primary col-lg-12" data-bs-toggle="modal" id="btnModalRuangan" data-bs-target="#ModalRuangan">
                                <i data-feather="layers" style="margin-right:10px;"> </i>Ruangan
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="table-responsive">
                        <table class="table" id="tablePeminjamanFasility">
                            <thead>
                                <tr>
                                    <th>Nama Fasilitas</th>
                                    <th>Jumlah/ Lantai</th>
                                    <th>Tipe Pinjam</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="tableDaftarPeminjaman">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="UpdateRequest()" data-bs-dismiss="modal">Edit Request</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Ruangan -->
<div class="modal fade" id="ModalRuangan" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalRuanganLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">List Ruangan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Nama Ruangan</th>
                                <th>Lantai</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyListRuangan">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalUpdateRequest">Kembali</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Fasilitas -->
<div class="modal fade" id="ModalFasilitas" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModalFasilitasLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">List Fasilitas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table" id="tableFasilityModal">
                        <thead>
                            <tr>
                                <th>Nama Fasilitas</th>
                                <th>Jumlah Tersedia</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tbodyListFasility">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseUp" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modalUpdateRequest">Kembali</button>

            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/employee/employeeDashboard.js" asp-append-version="true"></script>
    <script src="~/js/employee/employeeDaftarPeminjaman.js" asp-append-version="true"></script>
    <script src="~/js/employee/employeeListPinjam.js" asp-append-version="true"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/prettify.js"></script>
    <script src="~/assets/plugins/twitter-bootstrap-wizard/form-wizard.js"></script>
    }